*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/projectn/
/db
.eclipse
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

# Scala-IDE specific
.scala_dependencies
.worksheet
